.main-bg-grey {
    background-color: #fbfbfb;
}

.nav .nav-item a {
    font-weight: 600;
}

.logo-img {
    width: 20px;
    height: 20px;
    border: 2px solid #0dcaf0;
    border-radius: 2px;
    margin-top: -23px;
}

.logo-text {
    font-size: 26px;
}

.nav-sidebar .nav-item {
    border: 1px solid #c5c5c5;
    background-color: #fbfbfb;
}

.fakeimg {
    height: 200px;
    background-color: #aaa;
}

.out-offices {
    border: 1px solid #c5c5c5;
    background-color: #fbfbfb;
}

.fakeimg1 {
    height: 200px;
    width: 400px;
    background-color: #aaa;
    display: inline-block;
}

.fake {
    margin-right: 50px;
}

.fakeimg3 {
    width: 150px;
    height: 150px;
    background-color: #aaa;
}
footer {
    background-color: #7e7e7e;
}

.mn-1 {
    width: 500px;
}
.mn img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 15px;
}
.square {
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 2px;
    margin-left: 140px;
    margin-bottom: -5px;
}
.text {
    font-size: 12px;
    color: #aaa;
}
.text a {
    color: #aaa;
}
h6{
    border-bottom: 1px solid #8a8a8a;
}
.mn-1 a {
    color: #9f988b;
}
.mn-2 li {
    list-style: none;
    margin-left: -30px;
    margin-right: 20px;
}
.mn-4 {
    color: #aaa;
}
.footer-text {
    padding-left: 160px;
}